* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  font-family: "Bebas Neue", cursive;
}
body {
  background-image: url(Img/neon-tropical-monstera-leaf-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  /* From https://css.glass */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 500px;
  width: 300px;
  padding: 0px 0px 0px 15px;
  background: rgba(71, 72, 79, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 4px solid rgba(168, 169, 171, 0.052);
}

h1.tem {
  width: auto;
  height: auto;
  padding: 0;
  font-size: 50pt;
  color: rgba(184, 184, 234, 0.789);
  align-self: center;
}
.unit {
  position: relative;
  bottom: 35px;
  font-size: 16pt;
  font-weight: 400;
  color: rgba(184, 184, 234, 0.789);
}
h2 {
  font-size: 46pt;
  color: rgba(184, 184, 234, 0.789);
  align-self: center;
}
.time {
  margin: 0;
  color: rgba(184, 184, 234, 0.789);
  font-size: 14pt;
}
ul.weather-items {
  margin: 0;
  list-style: none;
  color: rgba(184, 184, 234, 0.789);
  font-size: 14pt;
}
input {
  margin: 0 0 0 10px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: rgba(184, 184, 234, 0.953);
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgba(184, 184, 234, 0.789);
}
button {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: rgba(184, 184, 234, 0.789);
}
a.active {
  color: rgba(184, 184, 234, 0.789);
  cursor: default;
  text-decoration: none;
}
.signature {
  position: absolute;
  top: 500px;
  color: rgba(184, 184, 234, 0.789);
}

#forecast {
  display: flex;

  flex-flow: row;
  padding: 15px 0 0 0;
  color: rgba(184, 184, 234, 0.789);
}
